body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.imagen1{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    filter: brightness(70%);
    position: relative;
}
a{
    text-decoration: none;
}
.conteiner-formulario{
    position: absolute;
    width: 100%; 
    height: 75%; 
    bottom: 0; 
    left: 0; 
    z-index: 2; 
}
.conteiner-img{
    width: 100%;
    height: 100% auto;
    z-index: 1; 
}
.conteiner-img-text {
    position: absolute; 
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white;
    z-index: 3;
}
.conteiner-img-text h1{
    font-size: 38px;
}
.conteiner-img-text p{
    text-align: center;
    font-size: 140%;
    color: rgba(240, 255, 255, 0.678);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.formulario{ 
    left: 20%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.2);
    border-radius: 10px;
    padding-left: 23px; 
    width: 830px; 
    margin: 0 auto; 
    background-color: white;    
}
.formulario-registro-cuadro{ 
    text-align: justify;
}
.formulario-contenedor-1{
    display: flex;
}
.formulario-registro-cuadro{
    padding: 15px;
    color: rgb(26, 26, 26);

}
textarea{
    padding: 20px;
    border-radius: 10px;
    height: 140px;
    width: 760px ;
    border-color: rgb(197, 197, 197);
    background-color: rgba(243, 243, 243, 0.281);
    color: rgba(77, 76, 76, 0.774);
    border-style: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.politica{
    color: rgba(152, 155, 155, 0.801);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 105%;
}
.formulario-label{
    padding: 0%;
}
.formulario-input{
    padding: 10px;
    width: 353px;
    height: 25px;
    border-radius: 7px;
    border-color: rgb(197, 197, 197);
    background-color: rgba(243, 243, 243, 0.281);
    color: rgba(112, 112, 112, 0.849);
    border-style: solid;
    font-size: 80%;
}
.formulario-button{
    padding: 13px;
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity));
    color: aliceblue;
    border-radius: 7px;
    width: 150px;
    border-color: rgb(29, 29, 255);
}

.spacio{
    width: 200px;
    height: 330px;

}

.conteiner-contacto{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    
}
.contacto{
    width: 500px;
    margin: 37px;
    padding: 20px;
    position: relative;
    overflow: hidden; 
    text-align: center;
    font-size: 120%;
}
span.material-icons {
    font-size: 50px; 
    color: rgb(68, 68, 68);  
    padding: 20px;
    background-color: rgba(224, 224, 224, 0.26);
    border-radius: 10px;
}
.button-support {
    padding: 15px;
    border-radius: 8px;
    width: 140px;
    background-color: rgb(255, 255, 255);
    border: 2px solid blue;
    color: blue;
    transition: border-color 0.3s; 
}

.button-support:hover {
    border-color: blue; 
}